<h1>
	Thank you for your comment
</h1>
<h2>
	At Whodabudda, we value the exchange of ideas in search of Truth...supported by evidence insofar as it is available.
</h2>
<p>
	Your comment now has a status of NOT REVIEWED.  
	A notification has been sent to all administrators of Whodabudda, telling them of your new comment.
	An administrator will review the comment according to the guidelines on our Doc page.  The admin will change the status of your comment, and you will be notified of the change.
	If the admin determines you need to adjust your comment to meet guidelines, (s)he will follow up with a detailed description of the change(s) required.
	You may communicate with the admin through the 'Review' selection on the 'Action' menu next to your comment.
</p>

<h5>
	Again, thank for your engagement with Whodabudda.  We look forward to a productive discussion.
</h5>




