<h1>About the Whodabudda Blog</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 yaml_display">
     <%  
         #
         #The review status can also be translated using 
         #rails I18n.t :key, scope: [:comma separated scope names]
         #  ex:  I18n.t :name, scope: [:comment_review_status, :NOTR]
         #or
         #rails I18n.t 'dot.separated.scope.names'
         # ex: show NOTR:  I18n.t 'comment_review_status.NOTR.name'
         # 
         data = YAML::load(File.open("config/locales/en.yml"))
         data["en"]["about_page_text"].each do |k|
     %>
       <h4> <%= k[1]["name"] %> </h4>
       <p> <%= k[1]["desc"] %> </p>
     <% end %>
     <p> <%#= cookies[:ajs_anonymous_id] %> </p>
     <p> <%#= action_name %> </p>
     <p> <%#= session.inspect %> </p>
   </div>
  </div>
</div>
