<h1>Welcome#doc</h1>
<p>Find me in app/views/welcome/doc.html.erb</p>
<div class="container">
  <div class="row align-items-start">
    <div class="col content-main con-resize">
      One of three columns
    </div>
    <div class="col content-secondary con-resize">
      One of three columns
    </div>
    <div class="col content-tertiary con-resize">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col content-main con-resize">Here is main content</div>
    <div class="col content-secondary con-resize">Here is secondary content...</div>
    <div class="col content-tertiary con-resize">Here is tertiary content...</div>
  </div>
</div>

