<h1>Whodabudda Blog Doc</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 con-resize-full">
    <h2> The available status's for commenting are as follows </h2>
     <%  
         #
         #The review status can also be translated using 
         #rails I18n.t :key, scope: [:comma separated scope names]
         #  ex:  I18n.t :name, scope: [:comment_review_status, :NOTR]
         #or
         #rails I18n.t 'dot.separated.scope.names'
         # ex: show NOTR:  I18n.t 'comment_review_status.NOTR.name'
         # 
         data = YAML::load(File.open("config/locales/en.yml"))
         data["en"]["comment_review_status"].each do |k|
     %>
   <h4> <%= k[1]["name"] %> </h4>
   <p> <%= k[1]["desc"] %> </p>
   <%end%>
   </div>
  </div>
</div>
<p>Find me in app/views/welcome/doc.html.erb</p>
