
    <div class="container-fluid">
      <div class="row align-items-start">
          <div class="col content-main ">
            <h3>Rogues Gallery</h3>
          </div>
          <div class="col content-secondary">
            <h3>Current Events</h3>
          </div>
          <div class="col content-tertiary">
            <h3>Truth In Media</h3>
          </div>
      </div>
      </div>
    <div class="container-fluid main-container">
      <div class="row align-items-start">
      		<div class="col-xs-4 con-resize">
            <%= render partial: "shared/commentable_list", locals: { type:  "Rogue" , title: "Rogues Gallery"} %>
      		</div>
          <div class="clearfix"> </div>
          <div class="col-xs-4 con-resize">
            <%= render partial: "shared/commentable_list", locals: { type:  "CurrentEvent", title: "Current Events" } %>
      		</div>
          <div class="clearfix"> </div>
          <div class="col-xs-4 con-resize">
            <%= render partial: "shared/commentable_list", locals: { type:  "TruthInMedia", title: "Truth In Media" } %>
            <p> <%#= session.inspect %> </p>
      		</div>
      </div>
    </div>
    <!--
      <div class="row row-flex-md-left" >
          <div class="col-md-4 flex-item Middle">
    <div class="jumbotron jumbotron-fluid">
    </div>
    -->
 
