	 <figure class="user-icon">
       <%= image_tag(c.user.avatar.url(:thumb)) if c.user.avatar? %>
       <figcaption>
       	
       <%= c.user.email.split('@')[0] %> 
       <%= c.created_at %> 
       </figcaption>
	</figure>
	<div class="item-text">
	<%= c.comment_text %>
	</div>
